/*
!/docker-compose
!/django
.cache/
.local/
!/nginx

!/gulp
/gulp/klangrausch/node_modules/
/gulp/klangrausch/.npm

!/webpack
node_modules/
.npm/

!/staticfiles/
img/

*.pyc
*.swp
.env*
.ash_history
.node_repl_history
