body {Background-color: blue;
      color: darkolivegreen;
}

html, body {
  width: 100%;
  height: 100%;
}

#leinwand {
  display: block;
  background: lightsalmon;
  margin: 100px auto;
}
