{% load static %}
!!! 5

html
  head
    title= "klangrausch"
    link(href="{% static 'css/production/main.css' %}", rel="stylesheet")
  body
    h4 klangrausch.net
    p "erster eintrag"
    script(src="{% static 'js/production/main.js' %}")
    
    


