{% load static %}
!!! 5

html
  head
    title= "klangrausch"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="{% static 'css/production/main.css' %}", rel="stylesheet")
  body
    div(class="test_div")
      liste = range(1000)
      for eintrag in liste
        a(href="")"{{eintrag}} ein_Satz_mit_vielen_Begriffen" 
        br

    script(src="{% static 'js/development/development.js' %}")
    


