{% load static %}
!!! 5

html
  head
    title= "klangrausch"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="{% static 'css/development/development.css' %}", rel="stylesheet")

  body
    div(class="main")
      p#eintrag= "eintrag"
      button(data-wert="beschreibung eins")= "knopf_1"
      button(data-wert="definition werte")=  "knopf_1"

    script(src="{% static 'js/development/development.js' %}")
    


