{% load static %}
!!! 5

html
  head
    title= "klangrausch mit wert"
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="{% static 'css/production/main.css' %}", rel="stylesheet")
  body
    canvas(id="leinwand", width="700", height="700")

    script(src="{% static 'js/development/development.js' %}")
    
    


