{% load static %}
!!! 5

html
  head
    title= "klangrausch"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="{% static 'css/production/main.css' %}", rel="stylesheet")
  body
    canvas(id="leinwand")

    script(src="{% static 'js/development/development.js' %}")
    
    


